<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Single Page</title>
<style>
body{
    font-size: 1.6rem;
    color: #444;
}
.highlight{
    color: #ff0000;
}
.smtxt{
    font-size: 1rem;
    color: #333;
}
div{
    padding: 2.5px 5px;
}
a{
    color: rgb(87, 206, 235);
}
h1, footer{
    color: #999;
}
</style>
</head>
<body>

    <!-- access data from data/data.json -->
    Pulling data from json file: {{ range .Site.Data.data }}
        {{.name}}
    {{end}}
    <p>
     {{ partial "header" (dict "Home" "Return to list view") }}

     <div>
         <!-- add color variable to post file front matter -->
          <h1 style="color:{{ .Params.color }};">{{.Title}}</h1>
          
          <!-- custom front matter from variable.md file -->
        <div class="highlight">{{ .Params.myVar }}</div>

        <!-- custom variable that renders in all single posts -->
        <div class="highlight">{{ $myVarTwo := "A String, an Int, and a Boolean walk in to a bar " }}
            {{$myVarTwo}}
        </div>

        <div>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>

        <div>{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>

        <div>{{if .Params.foo}}Foo: {{.Params.Foo}}{{end}}</div>

        <div>{{if .Params.bar}}Bar: {{.Params.Bar}}{{end}}</div>

        <div>{{.Content}}</div>
     </div>

     {{ partial "footer" . }}

</body>
</html>