<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Single Page</title>
<style>
body{
    font-size: 1.6rem;
}
.highlight{
    color: red;
}
</style>
</head>
<body>

     {{ partial "header" (dict "Template" "Home") }}

     <div>
          <h1>{{.Title}}</h1>
          
          <!-- custom front matter from variable.md file -->
        <div class="highlight">{{ .Params.myVar }}</div>

        <!-- custom variable that renders in all single posts -->
        <div class="highlight">{{ $myVarTwo := "a string, an int, a boolean" }}
            {{$myVarTwo}}
        </div>

        <div>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>

        <div>{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>

        <div>{{if .Params.foo}}Foo: {{.Params.Foo}}{{end}}</div>

        <div>{{if .Params.bar}}Bar: {{.Params.Bar}}{{end}}</div>

        <div>{{.Content}}</div>
     </div>

     {{ partial "footer" . }}

</body>
</html>